.row
  .col-xs-12
    %h1
      Home
  
    %h2
      Sensor Observations:
      #{SensorObservation.count}
  
    .row
      - Sensor.all.each do |s|
        .col-xs-2.text-center
          %strong
            #{s.name}
          %br
          Latest Value:
          
          - v = s.sensor_observations.order( observed_at: :desc ).limit(1)&.first&.value
          - v = 0 if v.nil?
          
          %strong
            - if s.temperature?
              #{(v * (9.0/5.0) + 32.0).round(1)}
            - else
              #{v.round(1)}